/Users/silvesterjk/Development/gitFolder/learn_python/fastapi/fastapienv
/fastapi/fastapienv/bin
/fastapi/fastapienv
/fastapi/books/__pycache__
fastapi/books/.DS_Store
/fastapi/books/venv
fastapi/.DS_Store

